#main {
	$-background: color(white);
	$-color: contrast-text-color($-background);
	$-padding: 2rem;

	background: $-background;
	color: $-color;
	padding: $-padding;

	.title, .subtitle {
		color: color(primary);
	}

	&.background-architecture {
		$-background-gradient: linear-gradient(to bottom, rgba(color(primary), .5), rgba(color(accent), .5));
		$-background-url: url('../image/background/architecture.jpg');

		background-image: $-background-gradient, $-background-url;
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
	}
}

#side-nav + #main {
	$-padding: 2rem 2rem 2rem 4rem;
	$-padding-medium: 2rem 2rem 2rem 18rem;

	padding: $-padding;

	@include respond-to(medium) {
		padding: $-padding-medium;
	}
}
